button#start
{
    position: fixed;
}

div#cover
{
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

div#starting-page
{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: black;
}

video
{
    z-index: 0;
}

body
{
    height: 100%;

    background-color: var(--main-color);
}

#main-menu
{
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

#main-menu
button
{
    width: 300px;
}

#main-menu
#label
{
    width: 500px;
}

#profile
{
    width: 500px;
    height: 800px;

    background-color: var(--less-main-color);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}