[data-animation]
{
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
[data-animation="slide-up"]
{
    animation-name: slide-up;
}
[data-animation="slide-down"]
{
    animation-name: slide-down;
}
[data-animation="slide-left"]
{
    animation-name: slide-left;
}
[data-animation="slide-right"]
{
    animation-name: slide-right;
}
[data-animation="curtain-up"]
{
    animation-name: curtain-up;
}
[data-animation="curtain-down"]
{
    animation-name: curtain-down;
}
[data-animation="curtain-left"]
{
    animation-name: curtain-left;
}
[data-animation="curtain-right"]
{
    animation-name: curtain-right;
}

[data-animation="fade-in"]
{
    animation-name: fade-in;
}
[data-animation="fade-out"]
{
    animation-name: fade-out;
}

[data-animation="modal-window-slide-in"]
{
    animation-fill-mode: forwards;
    animation-name: modal-window-slide-in;
}
[data-animation="modal-window-slide-out"]
{
    animation-fill-mode: forwards;
    animation-name: modal-window-slide-out;
}

@keyframes modal-window-slide-out{
    0% {
        bottom: 50%;
    }
    100% {
        bottom: 100%;
    }
    
}

@keyframes modal-window-slide-in{
    0% {
        bottom: 100%;
    }
    100% {
        bottom: 50%;
    }
    
}
@keyframes fade-in{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes curtain-up{
    0% {
        clip-path: inset(100% 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes curtain-down{
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes curtain-left{
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes curtain-right{
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-25px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(25px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}