@import url(../akronym/styles/akronym-animations.css);

:root
{
  --main-color: black;
  --less-main-color: #2c2c2c;
  --secondary-color: white;
  --less-secondary-color: #dadada;
  --theme-color: #f8ba00;
}
@font-face {
  font-family: 'TheCrewPro';
  src: url('../static/fonts/TheCrewPro.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cornerita';
  src: url('../static//fonts/Cornerita-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cornerita';
  src: url('../static//fonts/Cornerita-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cornerita';
  src: url('../static//fonts/Cornerita-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cornerita';
  src: url('../static//fonts/Cornerita-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cornerita VF';
  src: url('../static//fonts/Cornerita-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

html
{
  height: 100%;

  color: var(--secondary-color);
  font-family: 'Cornerita VF', sans-serif;
}

body
{
  height: 100%;
  background-color: var(--main-color);
}

*
{
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

[data-hidden]
{
  visibility: hidden;
}

#cover
{
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

#root
{
  width: 100%;
  height: 100%;
}

h1.error
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  font-family: 'TheCrewPro', sans-serif;
  color: var(--theme-color);

  z-index: 2;
}

button#music-status
{
  position: absolute;
  margin: 50px;
  bottom: 0;
  left: 0;

  width: 75px;
  height: 75px;

  border-radius: 100px;
}

button#music-status
svg
{
  position: absolute;
  width: 75%;
  height: 75%;
}
button#music-status
svg
path
{
  stroke: black;
  stroke-width: 2;

  transition: stroke 0.25s ease-out;
}

button#music-status:hover svg path, button#music-status:focus svg path
{
  stroke: var(--theme-color);
  stroke-width: 2;
}

button#music-status[data-mute="true"]
svg#pause
{
  visibility: visible;
}

button#music-status[data-mute="true"]
svg#play
{
  visibility: hidden;
}

button#music-status[data-mute="false"]
svg#pause
{
  visibility: hidden;
}

button#music-status[data-mute="false"]
svg#play
{
  visibility: visible;
}