#terminal
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;

  font-size: 24px;
  user-select: none;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Courier New', Courier, monospace;
}

#input-wrapper {
    display: flex;
    align-items: center;
    background-color: black;
    height: 24px;
    font-size: 24px;
    color: green;
}
  
#input-wrapper::before {
content: '>';
color: green;
margin-right: 5px;
}
  
#user-input {
flex: 1;
background-color: black;
border: none;
color: green;
outline: none;
user-select: none;
font-size: 24px;
}

  
#terminal
#user-input::before
{
content: '>';
color: green;
font-size: 24px;
font-weight: bold;
aspect-ratio: 1/1;
height: 100%;
font-family: 'Courier New', Courier, monospace;
}
  
#terminal
#user-input::selection{
color: black;
background-color: green;
}
  
  
#screen
{
position: absolute;
border-radius: 100px;
width: 95%;
height: 90%;

display: flex;
flex-direction: column;
}
  
#screen
pre
{
width: min-content;
}

#screen
#texture
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;

background-image: url(../static/lobby/scanlines_dusty.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 100px;

pointer-events: none;
z-index: 1;
}

#screen
#lines
{
width: 100%;
height: 100%;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 75px;
padding-right: 75px;
overflow: hidden;
}
#terminal[data-turned-on]
#screen
{
animation: screenglow 0.01s infinite alternate ease-in-out, turn-on 0.1s forwards;
background-color: rgb(34, 34, 34);
box-shadow: 0 0 100px 0px rgb(20, 20, 20);
}

@keyframes screenglow {
from {
    box-shadow: 0 0 100px 0px rgba(20, 20, 20, 0.2);
}
to {
    box-shadow: 0 0 100px 20px rgba(20, 20, 20, 1);
}
}

@keyframes turn-on {
to{
    background-color: rgb(34, 34, 34);
}
}