[is="ak-splash"]
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

button
{
    display: block;
    width: 200px;
    height: 56px;

    background-color: var(--theme-color);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    border: 2px solid var(--theme-color);

    color: black;
    font-size: 32px;
    font-weight: bold;
    font-family: inherit;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

input[type="text"]
{
    display: block;
    width: 200px;
    height: 64px;

    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: 2px solid var(--theme-color);
    border-radius: 20px;

    color: var(--theme-color);
    font-size: 32px;
    font-weight: bold;
    font-family: inherit;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: text;

    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

input[type="text"]::selection
{
    color: var(--theme-color);
    background-color: black;
}

input[type="text"]:hover, input[type="text"]:focus
{
    background-color: var(--theme-color);
    color: black;
    outline: none;
}

input[type="text"]::placeholder
{
    color: var(--theme-color);
}
input[type="text"]:hover::placeholder, input[type="text"]:focus::placeholder
{
    color: black;
}

::selection
{
    color: black;
    background-color: var(--theme-color);
}

button:hover, button:focus
{
    background-color: black;
    color: var(--theme-color);
    outline: none;
}

.page#main
{
    width: 100%;
    height: 100%;

    display: flex;
}

    #play-button
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 2;
    }

    #splashscreen
    {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: black;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #starting-page
    {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 100px;
        padding-bottom: 100px;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        background-color: black;
        background-image: url(../static/bg_starting_page.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

        #starting-page
        #main-menu
        {
            position: relative;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 50px;

            font-size: 28px;
            font-weight: bold;
        }

            #main-menu
            input
            {
                width: 300px;
                height: 48px;
                font-size: inherit;
                font-weight: inherit;
                text-align: center;
            }

            #main-menu
            button
            {
                width: 250px;
                font-size: inherit;
                font-weight: inherit;
            }

            #main-menu
            #label
            {
                width: 500px;
                font-size: inherit;
                font-weight: inherit;
            }